body {
	min-width: 400px;
	overflow-x: hidden;
	color: #000;
	font-family: "Oswald";
	background-color: #fff;
	font-size: 15px;
	padding-top:10px;
	padding-bottom:0px;

}

/* Set the fixed height of the footer here */
#footer {
  height: 40px;
  background-color: #666;
  color: #fff;
}

#footer a {
  color: #fff;
  float: right;
  font-size: 10px;
  padding: 10px;
}

#adinfo {
padding: 10px;
background-color: #f6f6f6;
margin-bottom: 10px;
}

#content {
padding: 10px;
background-color: #f6f6f6;
margin-bottom: 10px;
}

#title {
padding: 10px;
background-color: #f6f6f6;
margin-bottom: 10px;
}

#advanced {
padding: 10px;
background-color: #f6f6f6;
}


.btn {
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: "Oswald";
}





