body {
	min-width: 400px;
	overflow-x: hidden;
	color: #000;
	background-color: #fff;
	font-size: 15px;
	padding-top:10px;
	padding-bottom:0px;

}

#logo {
padding: 10px;
}

/* Set the fixed height of the footer here */
#footer {
  height: 45px;
  background-color: #d3d3d3;
  color: #fff;
padding:5px
}

#footer a {
  color: #666;
  font-size: 4px;
  padding: 13px;
}

span.glyphicon.glyphicon-envelope {
padding: 10px 0 3px 0;
}

#adinfo {
padding: 10px;
background-color: #f6f6f6;
/* margin-bottom: 10px; */
}

#content {
padding: 10px;
background-color: #f6f6f6;
}

#title {
padding: 10px;
background-color: #f6f6f6;
}

#advanced {
padding: 10px;
background-color: #f6f6f6;
}

#advanced-tab .btn {
font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
font-size: 12px;
}

.glyphicon {
font-size: 16px;
}


#messages p {
padding: 10px;
font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
font-size: 12px;
display: inline;
}

.btn {
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: "Oswald";
}


